* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}


body {
  background-color: #212121;
  color: white;
}

.errorMsg {
  color: red;
  text-align: center;
}

header {
  background-color: rgba(17, 24, 39, 1);
  height: 5vh;
}

header a {
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-decoration: none;
  font-size: 3vh;
}

header a:hover {
  color: #923fff;
  transition: ease .5s;
}

header .user-header {
  font-weight: bold;
  color: #923fff;
}

header div {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}

body > section, body > hr{
  margin: 3vh 5vw;
}

button:disabled:hover{
  background-color: grey;
}